html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-family: "Courier New", Courier, monospace;
  font-size: 1.6rem;
  background-color: #ffe8d6;
  color: #515547;
  margin: 0;
}
h1,
h3 {
  color: #ce7849;
}
a {
  display: inline-block;
  text-decoration: none;
  background-color: white;
  color: #ff5c05;
  margin: 1rem;
}
a:hover {
  background-color: #ff5c05;
  color: white;
}
.wrapper {
  display: flex;
  align-items: center;
  flex-flow: column wrap;
  margin: 0.1rem;
  padding: 1rem;
}

img {
  width: 600px;
  height: auto;
  margin: 3rem;
}
p {
  color: #ce7849;
}
