html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-family: "Courier New", Courier, monospace;
  font-size: 1.6rem;
  background-color: #ffe8d6;
  color: #515547;
  margin: 0;
  padding: 0;
}
h1,
h3 {
  color: #ce7849;
  margin: 0;
  margin: 0;
}
ul {
  display: flex;
  flex-flow: row wrap;
  list-style: none;
}
a {
  text-decoration: none;
  background-color: white;
  color: #ff5c05;
  margin: 1rem;
  border-radius: 10px;
  padding: 0.5rem;
}
a:hover {
  background-color: #ff5c05;
  color: white;
}
.wrapper {
  display: flex;
  align-items: center;
  flex-flow: column wrap;
  margin: 0.1rem;
  border: none;
  padding: 0.1rem;
}

img {
  object-fit: cover;
  height: auto;
  margin: 1rem;
}
p {
  color: #ce7849;
}
.footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: flex-end;
}
