html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-family: "Courier New", Courier, monospace;
  font-size: 1.6rem;
  background-color: #ffe8d6;
  color: #6b705c;
  margin: 0;
}
h1,
h3 {
  color: #ce7849;
}
a {
  display: inline-block;
  text-decoration: none;
  background-color: white;
  color: #ff5c05;
  margin: 1rem;
}
a:hover {
  background-color: #ff5c05;
  color: white;
}
.wrapper {
  border: 2px solid rgb(81, 255, 0);
  display: flex;
  align-items: center;
  flex-direction: column;
}

img {
  width: 600px;
  height: auto;
  margin: 3rem;
}
