* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-flow: column nowrap;
  text-align: center;
  min-height: 100vh;
  background-color: rgb(255, 242, 213);
}
header,
footer,
article,
aside,
nav {
  padding: 1rem;
  margin: 0.5rem;
  font-family: serif;
  border-radius: 10px;
}
.main {
  display: flex;
  flex-flow: column nowrap;
  flex: 1 0 auto;
}
@media screen and (min-width: 700px) {
  .main {
    flex-direction: row;
  }
}

header {
  background: crimson;
  flex: 0 0 10vh;
  margin: 0px;
  border-radius: 0 0 10px 10px;
}
footer {
  background: gold;
  flex: 0 0 10vh;
  margin: 0px;
  border-radius: 10px 10px 0 0;
}
article {
  background: aqua;
  text-align: left;
  font-size: 25px;
  flex: 1 1 auto;
}
nav {
  background: limegreen;
  flex: 1 0 10vw;
  display: flex;
  flex-flow: column;
}
@media screen and (max-width: 700px) {
  nav {
    display: flex;
    flex-flow: row;
  }
  ul {
    display: flex;
    flex-flow: row;
  }
}
h2 {
  text-align: center;
}
aside {
  flex: 1 0 10vw;
  background: plum;
}
ul {
  list-style-type: none;
  padding: 1em;
}
ul li {
  padding: 0.3rem;
}
a {
  text-decoration: none;
  color: white;
}
